@model Smouhaclub.Models.TblNews

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblNews</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewsTitle" class="control-label">عنوان الخبر </label>
                <input asp-for="NewsTitle" class="form-control wizard-required" />
                <span asp-validation-for="NewsTitle" id="errorNewsTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsContent" class="control-label"> تفاصيل الخبر </label>
                <input asp-for="NewsContent" class="form-control wizard-required" />
                <span asp-validation-for="NewsContent" id="errorNewsConten"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsPhoto" class="control-label"> صوره الخبر </label>
                <input asp-for="NewsPhoto" class="form-control wizard-required" id="PhotoId" />
                <label for="Upload" class="userImg">
                    <div class="upload-img">
                        <i class="fal fa-camera"></i>
                        <img src="" alt="UserImg" id="hdPhoto">
                    </div>
                    <label for="UpLogo" class="add-user"><span> تحميل صوره الخبر </span><i class="fal fa-plus"></i></label>
                    <input class="form-control form-control-sm" id="PhotoId" hidden name="upNewsPhoto" asp-for="NewsPhoto" type="file" accept=".png,.jpg,.jpeg">
                </label>    
                <span asp-validation-for="NewsPhoto" id="errorNewsPhoto"  class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="NewsDate" class="control-label"> تاريخ الخبر</label>
                <input asp-for="NewsDate" class="form-control wizard-required" />
                <span asp-validation-for="NewsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsShowable" class="control-label">عرض بالموقع ؟</label>
                <input asp-for="IsShowable" class="form-control" r />
                <span asp-validation-for="IsShowable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" src="@SettingHelper.GetPublishName()/assets/js/validationscripts/newsscript.js" asp-append-version="true"></script>