@model IEnumerable<TblNews>
@{
    ViewData["Title"] = "الاخبار";
}

<h1>Index</h1>

<a asp-action="Create" asp-controller="News" type="button" class="btn btn-danger">أضافة</a>

@if (Model.Count() > 0)
{

    <table class="table details-table dataTables_wrapper table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align:center;">أسم الخبر</th>
                <th style="text-align:center;">تاريخ الخبر </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NewsTitle</td>
                    <td>@PublicFunction.ConvertDate(item.NewsDate.ToString()).ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>


    </table>



}

