
@{
    ViewData["Title"] = "الشكاوي";
}



 <section class="sec-pad Complaints">
        <div class="container">
            <div class="main-title">شكاوي و مقترحات</div>
            <form action="">
                <div class="row">
                    <div class="col-md-6">
                        <label class="common-label">الاسم الاول</label>
                        <input type="text" class="form-control" placeholder="الاسم الاول" />
                    </div>
                    <div class="col-md-6">
                        <label class="common-label">الاسم الثاني</label>
                        <input type="text" class="form-control" placeholder="الاسم الثاني" />
                    </div>
                    <div class="col-md-12">
                        <label class="common-label">البريد الالكتروني</label>
                        <input type="email" class="form-control" placeholder="البريد الالكتروني" />
                    </div>
                    <div class="col-md-12">
                        <label class="common-label">رقم التليفون</label>
                        <input type="text" class="form-control" placeholder="الاسم الثاني" />
                    </div>
                    <div class="col-md-12">
                        <label class="common-label">الوصف</label>
                        <textarea type="text" class="form-control" placeholder="الوصف"></textarea>
                        <button type="button" class="theme-btn">ارسل رسالة</button>
                    </div>
                </div>
            </form>
            
        </div>
    </section>