@model NewsViewModel
@{
    ViewData["Title"] = "News Page";
    var uploadPaths = UploadFiles.GetSectionPaths("News").ToList();

    var pathPhoto = SettingHelper.GetPublishName() + "/assets/images/news/article-1.jpg"; 
    if (!string.IsNullOrWhiteSpace(Model.NewsPhoto))
    {
        pathPhoto = PublicFunction.GetPath(SettingHelper.GetPublishName(), uploadPaths[1].Value, Model.NewsPhoto);
    }
}
      



<section class="articles sec-news sec-pad">
    <div class="container">
        <h2 class="main-title">تفاصيل الخبر</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="image-box">
                    <div class="image">
                        <img src="@pathPhoto" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 product-details-content">
                <h3 class="art-title">@Model.NewsTitle</h3>
                <div class="caption">
                    <p class="date">@PublicFunction.ConvertDate(Model.NewsDate.ToString()).ToString("yyyy-MM-dd")</p>
                    <p class="discrpition">@Model.NewsContent</p>
                    <div class="benefits-box">
                        <ul class="list clearfix">
                            <li> مصدر الخبر <i class="fal fa-location"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
