@model Smouhaclub.Models.TblMember

@{
    ViewData["Title"] = "Edit";
}

<h1>تعديل</h1>

<h4> الاعضاء</h4>
<hr />
<div class="row">
    <form asp-action="Edit" id="formMember">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-5">
                <input type="hidden" asp-for="MemberCode"  />
                <input type="hidden" name="id" asp-for="MemberId" />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">الاسم الاول <span style="color:red;">*</span></label>
                    <input asp-for="FirstName" class="form-control wizard-required" data-id="errorFirstName" data-letter="من فضلك ادخل الاسم الاول " />
                    <span asp-validation-for="FirstName" id="errorFirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">الاسم الثاني <span style="color:red;">*</span></label>
                    <input asp-for="LastName" class="form-control wizard-required" data-id="errorLastName" data-letter="من فضلك ادخل الاسم الثاني  " />
                    <span asp-validation-for="LastName" id="errorLastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">رقم الهاتف </label>
                    <input asp-for="PhoneNumber" class="form-control" onkeydown="return AcceptOnlyNumbers(this)" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="MemberEmail" class="control-label">البريد الالكتروني </label>
                    <input asp-for="MemberEmail" class="form-control" onchange=" emailvalidate(this.id)" type="email" />
                    <span asp-validation-for="MemberEmail" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="MemberAddress" class="control-label"> العنوان </label>
                    <input asp-for="MemberAddress" class="form-control" />
                    <span asp-validation-for="MemberAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="DateBirth" class="control-label">تاريخ الميلاد <span style="color:red;">*</span></label>
                    <input asp-for="DateBirth" max="10" onchange="return CopareBirthDate()" id="txtDateBirth" maxlength="10" class="form-control datepicker" onKeyUp="mask(this.value,this,'2,5','-')" onBlur="checkDate(this.value,this)" class="wizard-required datepicker form-control" style="text-align:center;" />
                    <span asp-validation-for="DateBirth" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="JoinDate" class="control-label">تاريخ الاشتراك <span style="color:red;">*</span></label>
                    <input asp-for="JoinDate" max="10" id="txtJoinDate" onchange="return CopareBirthDate()" maxlength="10" class="form-control wizard-required datepicker" onKeyUp="mask(this.value,this,'2,5','-')" onBlur="checkDate(this.value,this)" class="wizard-required datepicker form-control" style="text-align:center;" data-id="errorJoinDate" data-letter="من فضلك ادخل  تاريخ  الاشتراك" />
                    <span asp-validation-for="JoinDate" id="errorJoinDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="RenewalDate" class="control-label"> تاريخ التجديد <span style="color:red;">*</span></label>
                    <input asp-for="RenewalDate" max="10" maxlength="10" class="form-control datepicker" data-letter="من فضلك ادخل  تاريخ تجديد الاشتراك" onKeyUp="mask(this.value,this,'2,5','-')" onBlur="checkDate(this.value,this)" class="wizard-required datepicker form-control" style="text-align:center;" />
                    <span asp-validation-for="RenewalDate" id="errorRenewalDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="MembershipCost" class="control-label">تكلفة </label>
                    <input asp-for="MembershipCost" onblur="return AcceptOnlyNumbers(this)" class="form-control wizard-required" data-id="errorMembershipCost" data-letter="من فضلك ادخل  قيمة الاشتراك " />
                    <span asp-validation-for="MembershipCost" id="errorMembershipCost" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="button" id="btnSubmitForm" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" src="@SettingHelper.GetPublishName()/assets/js/mask.js" asp-append-version="true"></script>
<script type="text/javascript" src="@SettingHelper.GetPublishName()/assets/js/validationscripts/memberscript.js" asp-append-version="true"></script>