@model Smouhaclub.Models.TblService
@{
    ViewData["Title"] = "الألعاب الرياضية";
}

<section class="content">
    <div class="main-breadcrumb">
        <div class="header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a asp-area="CPanel" asp-controller="Home" asp-action="Index"><i class="far fa-home"></i></a></li>
                    <li class="breadcrumb-item" aria-current="page"><a asp-area="CPanel" asp-controller="SportsGame" asp-action="Index">الألعاب الرياضية</a></li>
                    <li class="breadcrumb-item active" aria-current="page">إضافة</li>
                </ol>
            </nav>
        </div>
    </div>
    
    <div>
        <form asp-area="CPanel" asp-controller="SportsGame" asp-action="Create" id="frmSPortsGame" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p><b>(<span style="color:red;">*</span>) </b>تعنى حقل يجب إدخاله</p>
            <div class="con-sp-box ">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row form-group">
                            <div class="col-md-4 col-sm-4">
                                <label asp-for="ServiceName" class="control-label"> اسم اللعبة الرياضية <span class="star-required" style="color:red;">*</span></label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <input asp-for="ServiceName" class="form-control wizard-required" data-id="requiredServiceName" data-letter="من فضلك ادخل اسم اللعبة الرياضية" placeholder="اسم اللعبة الرياضية">
                                <span asp-validation-for="ServiceName" class="text-danger"></span>
                            </div>
                            <span id="requiredServiceName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row form-group">
                            <div class="col-md-4 col-sm-4">
                                <label class="control-label">صورة اللعبة <span class="star-required" style="color:red;">*</span></label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <label for="PhotoId">
                                    <span style="cursor:pointer" title="صورة اللعبة"><i for="PhotoId" class="fa fa-upload" aria-hidden="true"></i></span>
                                    <input type="file" id="PhotoId" asp-for="ServicePhoto" name="upGamePhoto" style="display:none" accept="image/png, image/jpg, image/jpeg" />
                                </label>
                                <a id="imgModal" data-bs-toggle="modal" data-bs-target="#viewImg" href="">
                                    <img id="img_url" src="" width="60" />
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row form-group">
                            <div class="col-md-4 col-sm-4">
                                <label asp-for="ServiceDescription" class="control-label">تفاصيل اللعبة الرياضية <span class="star-required" style="color:red;">*</span></label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <textarea asp-for="ServiceDescription"  data-id="requiredServiceDescription" data-letter="من فضلك ادخل تفاصيل اللعبة الرياضية" class="form-control wizard-required"></textarea>
                            </div>
                            <span id="requiredServiceDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row form-group">
                            <div class="col-md-4 col-sm-4">
                                <label asp-for="IsShowable" class="control-label">عرض بالموقع ؟</label>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <label class="switch">
                                    <input id="rdShowable" name="rdIsShowable" type="checkbox" value="true" checked="checked" class="checkbox">
                                    <div class="slider"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <div class="attchments">
                    <div class="userImg addAttchments">
                        <button type="button" class="add-user addNewRow">
                            <span>إضافة صورة</span>
                            <i class="fal fa-plus"></i>
                        </button>
                    </div>
                    <div class="custom-scroll">
                        <table class="table details-table table-responsive table-bordered table-hover dataTable table_Attachments">
                            <thead>
                                <tr>
                                    <th>الصورة <span class="required">*</span></th>
                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group custom-buttons">
                    <div class="input-save">
                        <input type="button" id="btnSubmit" title="حفظ" value="حفظ" class="theme-btn" />
                        <span></span>
                    <a asp-controller="SportsGame" asp-area="CPanel" asp-action="Index" title=" الغاء" class="theme-btn-two">الغاء</a>
                    </div>
                        
            </div>
        </form>
    </div>
</section>
<input type="hidden" id="hdnPublishName" value="@SettingHelper.GetPublishName()" />
<script src="@SettingHelper.GetPublishName()/assets/js/validationScripts/SportsGameScript.js" asp-append-version="true"></script>
@await Html.PartialAsync("_ShowImageParial")



<script type="text/javascript" asp-append-version="true">
    var publsihName = $("#hdnPublishName").val();
    ////////////////////////////////////////////////////////////////
    var rowNumber = 1;
    var rowNumber_ = 1;
    var wrapperGallery = $(".table_Attachments tbody");

    $(wrapperGallery).on("click", ".ButtonRemoveRow", function (e) {
        e.preventDefault();
        $(this).closest('tr').remove();
        rowNumber_--;
    });


    $(".addNewRow").on("click", function (e) {//on add input button click
        e.preventDefault();
        $(wrapperGallery).append(`

            <tr>
                <td>
                    <div class="upload">
                                
                        <label for="fileAttach_`+ rowNumber + `" class="btn-upload" type="button">
                            <i class="fal fa-upload"></i>
                                <input id="fileAttach_`+ rowNumber + `" name="upGamePhotoGallery" type="file" accept=".png,.jpg,.jpeg" class="form-control" hidden>
                        </label>
                            <img id="img_url_`+ rowNumber + `" src="" width="32" />

                    </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-remove delete theme-btn-two ButtonRemoveRow" title="حذف"><i class="fal fa-trash-alt"></i></button>
                        </td>
                    </tr>`);

        rowNumber++;
        rowNumber_++;
    });


    $(document.body).on('change', '[id^="fileAttach_"]', function (e) {
        var id = $(this).attr('id');
        var ret1 = id.split("_");
        var filename = e.target.files[0].name;
        var splitFileName = filename.split(".");
        var allowedExt = "png,PNG,jpg,JPG,jpeg,JPEG";
        var allowedExtarry = allowedExt.split(",");
        if (!allowedExtarry.includes(splitFileName[1])) {
            Swal.fire({
                icon: "warning",
                title: 'عفواً! هذا الملف غير مسموح به , الإمتدادات المسموح بها هي .pnb , .jpg , .jpeg',
                allowOutsideClick: false,
                showCloseButton: true,
                confirmButtonText: 'موافق',
                customClass: {
                    confirmButton: 'theme-btn'
                },
            }).then((rsult) => {
                $('#img_url_' + ret1[1]).hide();
                $('#img_url_' + ret1[1])[0].src = ('');
            });
            return false;
        } else {
            $('#img_url_' + ret1[1]).show();
            $('#img_url_' + ret1[1])[0].src = (window.URL ? URL : webkitURL).createObjectURL(e.target.files[0]);
        }
    });

</script>