
@{
    ViewData["Title"] = "تجديد الإشتراك";

    var msgValue = "0";
    if (TempData["NoMemberCode"] != null && bool.Parse(TempData["NoMemberCode"].ToString()))
    {
        msgValue = "1";
    }
}

<section class="sec-pad Complaints">
    <div class="container">
        <div class="main-title"> تجديد الاشتراكات </div>
        <form asp-controller="Subscribe" asp-action="CheckMemberShip" id="frmCheckCode">
            <div class="row">
                
                <div class="col-md-12">
                    <label class="common-label">رقم العضوية</label>
                    <input type="text" id="txtMemberShipNo" name="memberCode" required class="form-control" placeholder="رقم العضوية" />
                </div>
              
                <div class="col-md-12 mt-3">
                    <button type="button" id="btnCheckCode" class="theme-btn">عرض البيانات</button>
                </div>

            </div>
        </form>
    </div>
</section>

<input type="hidden" id="hdnMessageNoCode" value="@msgValue" />

<script type="text/javascript" src="@SettingHelper.GetPublishName()/assets/js/validationscripts/CheckMemberShipValidation.js" asp-append-version="true"></script>
