
@{
    ViewData["Title"] = "تجديد الإشتراك";
}

<section class="sec-pad Complaints">
    <div class="container">
        <div class="main-title"> تجديد الاشتراكات </div>
        <form asp-controller="Subscribe" asp-action="Renew" id="frmRenew">
            <div class="row">
                <div class="col-md-12">
                    <label class="common-label">رقم الكارت</label>
                    <input type="text" id="txtCardNumber" class="form-control" placeholder="1234  5678  9101  1121" />

                </div>
                <div class="col-md-6">
                    <label class="common-label">رمز التحقق</label>
                    <input type="text" id="txtVisaCode" class="form-control" placeholder="1121" />
                </div>
                <div class="col-md-6">
                    <label class="common-label">تاريخ الانتهاء</label>
                    <input type="text" id="txtExpireDate" class="form-control" placeholder="MM/YY" />
                </div>
                <div class="col-md-12">
                    <div class="form-check mt-3">
                        <input type="checkbox" id="saveData" class="form-check-input float-none" />
                        <label for="saveData" class="form-check-label me-4">احفظ بيانات البطاقة</label>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <button type="button" id="btnRenew" class="theme-btn">تاكيد الدفع</button>
                </div>
            </div>
        </form>
        <p class="conditions">سيتم استخدام بياناتك الشخصية لمعالجة طلبك، ودعم تجربتك عبر هذا الموقع، ولأغراض أخرى موضحة في سياسة الخصوصية الخاصة بنا. </p>
    </div>
</section>


<script src="@SettingHelper.GetPublishName()/assets/js/validationscripts/checkmembershipvalidation.js"></script>