@import "../layout/variables";


.main-footer {
    background-color: #000217;
    .box {
        h4 {
            margin: 12px 0;
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
        h4,p {
            color: var(--text-color);
        }
        h6 {
            font-size: 18px;
            color: var(--text-color);
            font-weight: 700;
            margin-bottom: 12px;
        }
        ul {
            li {
                a {
                    color: var(--text-color);
                    font-size: 14px;
                }
            }
        }
    }
}

.copyrights {
    p {
        padding: 12px 0;
        text-align: center;
        background-color: #EB1F29;
        color: #fff;
        font-weight: 600;
    }
}