@using EEAAPortal.Setting
@model IEnumerable<TblSocialNetwork>
@{
    ViewData["Title"] = "مواقع التواصل الإجتماعي";
}
<section class="content">
    <div class="main-breadcrumb">
        <div class="header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="far fa-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">مواقع التواصل الإجتماعي</li>
                </ol>
            </nav>
        </div>
    </div>
    <div>
        @await Html.PartialAsync("_SuccessMesages")
        @* <label>
            <a asp-action="Create" title="إضافة" class="theme-btn-two mt-2 mb-2 add-btn"><i class="btn-sm  fas fa-plus"></i></a>
        </label> *@
        @if (Model.Count() > 0)
        {
            <table class="table dataTables_wrapper table-bordered table-hover" id="tblList">
                <thead class="datatablebakground">
                    <tr class="text-center">
                        <th style="width:40%">رابط الموقع</th>
                        <th style="text-align:center;">ايقونة الموقع</th>
                        <th style="text-align:center;">عرض بالموقع ؟</th>
                        <th style="width:10%;" class="tblActions"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var linkId = PublicFunction.EncryptAndConvertToHex(item.SocialNetworkID.ToString());
                        <tr>
                           
                            <td>@item.SocialLink</td>
                            <td style="text-align:center;">
                                <i class="@item.SocialIcon"></i>
                                </td>
                            <td style="text-align:center;">
                                @(item.IsShowable == true ? "نعم" : "لا")
                            </td>
                            <td class="tblActions" rowspan="1" colspan="1">
                                <div class="btns-group">
                                    <a asp-area="CPanel" asp-controller="SocialNetwork" asp-action="Edit" asp-route-id="@linkId" title="تعديل" class="theme-btn-two"><i class="fal fa-edit"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width:235px; margin:20px;">
                <strong>عفوا!</strong> لا توجد سجلات
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="right:revert"></button>
            </div>
        }
        @await Html.PartialAsync("_ShowImageParial")
    </div>

</section>

